@import '../../../styles/variables/colors';
.profilePicture {
  position: relative;

  .uploadWrapper {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
      text-align: center;
      font-size: 40px;
      background: #fff;
      line-height: 80px;
      width:80px;
      border-radius: 50%;
      transition: all 550ms;

      &:hover {
        cursor: pointer;
        background: $pink;
        color: #fff;
      }
    }
  }
}