@import '~bootstrap/scss/bootstrap.scss';

$arrowHeight: 30px;
$arrowWidth: $arrowHeight * .7;

.bubbleWrapper {
  position: relative;
  display: flex;
  align-items: flex-end;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  .hideshow {
    position: absolute;
    top:0;
    right:-10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    background: #ffffff;
    z-index: 2;
    border-radius: 50%;

    &:hover {
      color: red;
    }
  }

  .bubble {
    .card {
      &.speechBubble {
        position: relative;
        box-shadow: none;
        border-radius: 50px;

        .card-block {
          padding: 2rem;
        }
        &:after {
          content: "";
          position: absolute;
          border-style: solid;
          width: 0;
          height: 0;
          border-width: $arrowWidth $arrowHeight;
          border-color: transparent transparent transparent #fff;
          right: -$arrowHeight * 2;
          bottom: 60px;
        }

        @include media-breakpoint-down(md) {
          margin:0 0 ($arrowHeight+15) 0 !important;
          &:after {
            border-width: $arrowHeight $arrowWidth !important;
            border-color: #fff transparent transparent !important;
            bottom: -$arrowHeight * 2 !important;
            right:130px;
            margin-left:-$arrowWidth/2;
            top:auto !important;
          }
        }
      }
    }
  }

  .gubbe {
    flex: 1 0 auto;
    position: relative;
    z-index: 1;
    max-height: 200px;

    @include media-breakpoint-down(md) {
      margin-top:-40px;
    }
  }

  // Aligned on the right side of content - see Wap card
  &.side {
    flex-direction: column;

    .bubble {
      .speechBubble {
        margin:0 0 ($arrowHeight+15) 0 !important;
        &:after {
          border-width: $arrowHeight $arrowWidth !important;
          border-color: #fff transparent transparent !important;
          bottom: -$arrowHeight * 2 !important;
          right:130px;
          margin-left:-$arrowWidth/2;
          top:auto !important;
        }
      }
    }

    .gubbe {
      margin-top:-40px;
    }
  }
}

.flexGrowZero {
  flex-grow: 0;
  padding: 0;
}

#helpIcon {
  position: fixed;
  right: -20px;
  bottom: 10px;
  font-size: 60px;
  color: #fff;
  display: none;
  transition: all 250ms;
  z-index: 9;
  text-shadow: -3px 0 5px rgba(0,0,0,0.1);

  &.visible {
    display: block;
  }

  &:hover {
    color: $pink;
    right:10px;
  }
}