@import '../../../../styles/variables/colors';
$templateColor: #3480a1;
.A4.template1 {
  //padding:5%;

  .cvSection {
    margin-bottom: 50px;
  }
  .pageDivider {
    //page-break-before:always;
  }

  .pageContent {
    padding-left: 0;
    padding-right: 0;
  }

  .sectionTitle {
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    padding:5px 25px 5px 10px;
    background: $templateColor;
    color: #fff;
    position: relative;
    text-align: left !important;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 15px 0;
      border-color: transparent #fff transparent transparent;
      position: absolute;
      top:0;
      right:0;
    }

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 0 15px;
      border-color: transparent transparent transparent lighten($templateColor, 20%);
      position: absolute;
      top:0;
      right:0;
    }
  }

  #header {
    margin-bottom: 2%;
    #info {
      padding-left: 3%;
      #first_name, #last_name, #title  {
        text-transform: uppercase;
        margin:0;
      }
      #first_name, #last_name {
        font-weight: bold;
      }
      #last_name {
        color: $templateColor;
        margin-top:-3%;
      }
    }
    #contact {
      font-size: 12px;
      i {
        width:18px;
        height:18px;
        font-size: 12px;
        color: #fff;
        background: $templateColor;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }



  #employments, #educations {

    .employmentItem, .educationItem {
      margin-bottom: 2%;

      .leftColumn {
        //text-align: right;
        //text-transform: uppercase;

        .l_title {
          text-transform: uppercase;
          //color: $templateColor;
          margin:0;
          //word-break: break-all;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          //margin-bottom: -2%;
        }
        .date {
          color: #cdcdcd;
          display: block;
        }
        .description {
          color: #646464;
          font-size: 12px;
          line-height: 1.1 !important;
          margin-top: 10px;
        }
      }
      .rightColumn {
        padding-left: 3%;
        //margin-top: 0.6%;
        .r_title {
          text-transform: uppercase;
          color: $templateColor;
          font-size: 13px;
          //line-height: auto;
          display: block;
          margin-top: -.5%;
        }
        .description {
          font-size: 11px;
          //line-height: 18px;
          display: block;
        }
      }
    }
  }

  #skills, #languages {
    .progressItem {
      margin-bottom: 1%;
    }
    .progressName {
      margin:0;
      color: #8a8a8a;

      h6 {
        margin:0;
        color: #8a8a8a;
      }
    }
    .progressProgressWrapper {
      padding-left: 6%;
    }
    .progress {
      margin-bottom: 0;
      border-radius: 0;
      box-shadow: none;

      .progress-bar {
        box-shadow: none;
        background-color: $themeColor;
      }
    }
  }

  #drivinglicenses {
    .licenseItem {
      text-align: center;
      margin-bottom: 1%;

      .licenseIcon {
        display: block;
        font-size: 60px;
        height: 60px;
        color: $brand-primary;
      }
      .licenseName {

      }
    }
  }

  #references {
    .fa {
      color: $themeColor;
      width:20px;
    }
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 1%;
    padding-right: 1%;
  }

  .row {
    margin-left: -1%;
    margin-right: -1%;
  }
}





