@import "../../styles/variables/variables";
@import "../../styles/variables/colors";

.sidemenuWrapper {
  min-height: 100vh;
  width: 280px;
  background-color: #2b303b;
  z-index: 1000;
  margin-left: -280px;
  @media screen and (min-width: 992px) {
    margin-left: -210px;
  }
  float: left;
  position: relative;
  //bottom: 0;
  //top: 0;
  //right: auto;
  //overflow: hidden;
  transition: margin 250ms ease;

  .sidemenu {
    //height: calc(100% - 50px);
    background-color: #2b303b;
    position: relative;
    width: 100%;

    ul.menu-items {
      list-style: none;
      margin: 0;
      padding: ($header-height+15) 0 20px;

      li.menu-header {
        color: $themeColor;
        text-transform: uppercase;
        margin-left: 30px;
        margin-top: 10px;
      }
    }
  }

  //&:hover {
  //  margin-left: -15px;
  //}
}

.sidemenuWrapper:hover ~ .page-layout__viewport {
  //transform:translate3d(260px, 0, 0)
}

body.menu-expanded {
  //.sidemenuWrapper {
  //  margin-left: -15px;
  //}
}