@import "../../styles/variables/variables";
@import "../../styles/variables/colors";

.sidemenuWrapper {
  padding-top: $header-height - 1px;
  width: 280px;
  background-color: #2b303b;
  z-index: 1000;
  left: -280px;
  @media screen and (min-width: 992px) {
    left: -210px;
  }
  position: fixed;
  bottom: 0;
  top: 0;
  right: auto;
  overflow: hidden;
  transition: left 250ms ease;

  .sidemenu {
    height: calc(100% - 50px);
    position: relative;
    width: 100%;

    ul.menu-items {
      list-style: none;
      margin: 0;
      padding: 10px 0 0;

      li.menu-header {
        color: $themeColor;
        text-transform: uppercase;
        margin-left: 30px;
        margin-top: 10px;
      }
    }


  }
}

body.menu-expanded {
  .sidemenuWrapper {
    left: -0px;
  }
}