@import './variables/colors';

.card {
  box-shadow: 0 -3px inset rgba(0,0,0,0.2);
  border:none !important;
  margin-bottom: 30px;

  .card-header {

    background: darken($themeColor, 15%);
    color: #fff;

    &.add-items {
      background: darken($themeColor, 15%);
      color: #fff;
    }
    .card-title {
      margin-bottom: 0;
    }
  }

  .card-subtitle {
    margin-top: -5px;
    margin-bottom: 10px
  }
}