@import './variables/colors';

.card {
  box-shadow: 0 -3px inset rgba(0,0,0,0.2);
  border:none !important;
  margin-bottom: 30px;

  .card-header {

    background: darken($themeColor, 15%);
    color: #fff;

    &.add-items {
      background: darken($themeColor, 15%);
      color: #fff;
    }
    .card-title {
      margin-bottom: 0;
    }
  }

  .card-subtitle {
    margin-top: -5px;
    margin-bottom: 10px
  }
}

.card.withTrashcan {

  .card-block {

    .card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .trashcan {
      opacity:0;
      font-size: 26px;
      position: absolute;
      right:10px;
      top: 12px;
      color: #cdcdcd;

      &:hover {
        transform: scale(1.2,1.2);
        color: $red;
        cursor: pointer;
      }
    }
  }

  &:hover {

    .card-title {
      padding-right: 30px;
    }

    .trashcan {
      opacity: 1;
    }
  }
}