@import './variables/colors';

.card {
  position: relative;
  box-shadow: 0 -3px inset rgba(0,0,0,0.2);
  border:none !important;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  //overflow-x: hidden;

  &:hover {
    .btn-wrapper {
      opacity: 1;
    }
  }

  &.formCard {
    overflow: visible;
  }

  .btn-wrapper {
    position: absolute;
    z-index: 9;
    top:0;
    width:40px;
    height:40px;
    display: flex;
    right:0;
    overflow: hidden;
    transition: width 250ms;
    opacity: 0;

    &:hover {
      opacity:1;
    }

    &.hasRemove {
      //width:120px;
      //right:-80px;
    }

    &.editing {
      right:0;
      width:80px;
      opacity: 1 !important;

      &.hasRemove {
        width:120px;
      }
    }

    .edit-btn {
      width:40px;
      height:40px;
      min-width:40px;
      background: $darkgray;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 250ms;
      box-shadow: inset 0 0 rgba(0,0,0,0.2);

      &:hover {
        background: $pink;
      }

      &.editing {
        background: $green;
        box-shadow: inset 0 -3px rgba(0,0,0,0.2);

        &:hover {
          background: darken($green, 5%);
        }
      }
    }

    .cancel-btn {
      width:40px;
      min-width: 40px;
      height:40px;
      background: $orange;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 250ms;
      box-shadow: inset 0 -3px rgba(0,0,0,0.2);

      &:hover {
        background: darken(#cd002d, 5%);
      }
    }

    .remove-btn {
      width:40px;
      min-width: 40px;
      height:40px;
      background: #cd002d;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 250ms;
      box-shadow: inset 0 -3px rgba(0,0,0,0.2);

      &:hover {
        background: darken(#cd002d, 5%);
      }
    }

    .add-btn {
      width:40px;
      height:40px;
      min-width:40px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 250ms;
    }
  }

  .card-title {
    .gender-icon {
      margin-left: 5px;
      color: #ababab;
    }
  }

  .card-bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }


  .card-header {
    height: 40px;
    background: darken($themeColor, 15%);
    color: #fff;

    &.add-items {
      background: darken($themeColor, 15%);
      color: #fff;
    }
    .card-title {
      margin-bottom: 0;
    }
  }

  .card-block {
    position: relative;
  }

  .card-subtitle {
    margin-top: -5px;
    margin-bottom: 10px
  }

  .card-text {
    &.occupationText {
      color: $lightergray;
    }
  }
}

.card.withTrashcan {

  .card-block {

    .card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .trashcan {
      opacity:0;
      font-size: 26px;
      position: absolute;
      right:10px;
      top: 12px;
      color: #cdcdcd;

      &:hover {
        transform: scale(1.2,1.2);
        color: $red;
        cursor: pointer;
      }
    }
  }

  &:hover {

    .card-title {
      padding-right: 30px;
    }

    .trashcan {
      opacity: 1;
    }
  }
}