.form-check-input {
  margin-left:0 !important;
}

.form-group {
  label {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: $headings-font-family;
    font-size: 11px;
    color: #929db1;
  }
}