body {
  //overflow-x: hidden;
  &.canvasRender {
    &::-webkit-scrollbar {
      //display: none;
    }
    overflow: hidden;
  }
}

body:before {
  content: "xs";
  display: none; /* Prevent from displaying. */
}
@include media-breakpoint-up(sm) {
  body:before {
    content: "sm";
  }
}
@include media-breakpoint-up(md) {
  body:before {
    content: "md";
  }
}

@include media-breakpoint-up(lg) {
  body:before {
    content: "lg";
  }
}

@include media-breakpoint-up(xl) {
  body:before {
    content: "xl";
  }
}

blockquote {
  //background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-weight: 100;
  font-size: 12px;
  line-height: 14px;

  p {
    display: inline-block !important;
  }
}
blockquote:before {
  color: #ccc;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 1.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  //vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

#helpIcon {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 56px;
  color: #fff;
  display: none;
  transition: color 250ms;
  z-index: 9;

  &.visible {
    display: block;
  }

  &:hover {
    color: $pink;
  }
}

a {
  color: $themeColor !important;
}

.react-cookie-banner {
  position: fixed !important;
}