$primary: $pink;
$text: #cdcdcd;
$secondary-text: #cdcdcd;
$accent: $pink;

.timeline {
  position: relative;

  &::before {
    content: '';
    background: lighten($primary, 15%);
    width: 5px;
    height: 100%;
    position: absolute;
    left: 4px;
    @include media-breakpoint-up(lg) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 20px;

    &.fakeTimelineItem {
      .timeline-content {
        &:after {
          opacity:0.5;
          transition: opacity 250ms;
        }
      }
      &:hover {
        .timeline-content {
          &:after {
            opacity:1 !important;
          }
        }
      }

      .timeline-img {
        //background: $green !important;
      }
    }

    &.fullOpacity {
      .timeline-content {
        &:after {
          opacity:1;
        }
      }
      .fakeItem {
        opacity:1;
      }
    }

    &:nth-child(even) {
      .timeline-fulldate {
        @include media-breakpoint-up(lg) {
          padding-right: 0;
          padding-left: 15px;
          right: 50%;
          left: auto;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }
      .timeline-content {
        @include media-breakpoint-up(lg) {
          float: right;
        }
        .date {
          right: auto;
          left: 0;
        }

        &::after {
          @include media-breakpoint-up(lg) {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #ffffff transparent transparent;
          }
        }
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }


  .timeline-content {
    position: relative;
    //width: 90%;
    overflow: visible;
    float: left;
    margin-top: 55px;
    margin-bottom: 0 !important;
    @include media-breakpoint-down(sm) {
      width:100%;
    }
    @include media-breakpoint-up(lg) {
      width: 45%;
      margin-left: 0;
      margin-top: 0;
    }
    border-radius: 4px;


    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: -15px;
      left: 60px;
      border-width: 0 10px 15px 10px;
      border-color: transparent transparent #ffffff transparent;
      @include media-breakpoint-up(lg) {
        top: 30px;
        right: -15px;
        left:auto;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent #ffffff;
      }
    }

    .card {
      .btn-wrapper {
        opacity: 0;

        &.editing {
          opacity: 1 !important;
        }
      }
      &:hover {
        .btn-wrapper {
          opacity: 1;
        }
      }
    }
  }

  .timeline-img {
    width: 30px;
    height: 30px;
    background: $primary;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 22px;
    @include media-breakpoint-up(lg) {
      left: 50%;
      margin-top: 25px;
    }
    margin-left: -15px;
  }

  .timeline-fulldate {
    position: absolute;
    left:20px;
    z-index: 2;
    height: 30px;
    background: $primary;
    line-height: 30px;
    color: #ffffff;
    padding-right: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 0.8rem;

    @include media-breakpoint-up(lg) {
      padding-right:15px;
      padding-left:0px;
      left: 50%;
      margin-top: 25px;
    }
  }
}