.cvBuilder {
  label {
    color: #000 !important;
  }

  blockquote {
    p {
      display: inline-block;
    }
  }

  .cvPreviewCanvas {
    border-bottom: 3px solid gray;
  }

  .slick-dots {
    bottom: 0px;
  }
}
