@import '../../../styles/variables/colors';

.wapcardTemplateWrapper {
  width:210mm;
  height:297mm;
  background: #fff;
  margin-bottom: 10mm;
  overflow: hidden;
  position: fixed;
  left: -2000px;
  top: 0;

  &.creatingCanvas {
    position: relative;
    left:0;
    margin-top: 200vh;
  }

  .leftCol {
    height:100%;
    //background: linear-gradient(to bottom, #74bfdc 0%, #49d2b7 100%) !important;
    background: $themeColor;
    color: #fff;

    .wpSection {
      //margin-top: 50px;

      .sectionHeader {
        color: #fff;
        text-transform: uppercase;
        text-align: left;
        position: relative;
        margin-bottom: 16px;

        &:after {
          content: '';
          width: 110%;
          height: 1px;
          background: #ffffff;
          position: absolute;
          bottom: 0;
          left: -5%;
        }
      }
    }
  }
  
  .rightCol {
    color: #333333;
    padding-right: 1cm;

    .profileInfo {
      h2, h3 {
        text-transform: uppercase;
      }

      .fa {
        color: $themeColor;
        width:20px;
        text-align: center;
      }
    }

    .wpSection {
      //margin-top: 50px;

      .sectionHeader {
        color: #333333;
        text-transform: uppercase;
        text-align: left;
        position: relative;
        margin-bottom: 16px;

        &:after {
          content: '';
          width: 100%;
          height: 1px;
          background: #333333;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      .skillCircle {
        display: flex;
        justify-content: center;
        align-items: center;

        .percentValue {
          position: absolute;
          margin-top:-15px;
        }

        .skillName {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .timeline-item {
        position: relative;
        padding-left: 20px;

        &:before {
          content: '';
          background: lighten($themeColor, 15%);
          width: 2px;
          height: 100%;
          position: absolute;
          left: 20px;
        }

        .startEndDate {
          background: $themeColor;
          color: #fff;
          display: inline-block;
          padding: 2px 5px;
          position: relative;
          left: -15px;
          font-size: 12px;

          > span {
            position: relative;
            z-index: 2;
          }

          &:before, &:after {
            content: "";
            background: $themeColor;
            width: 22px;
            height: 22px;
            position: absolute;
            left: -10px;
            top: 0;
            border-radius: 50%;
            z-index: 1;
          }

          &:after {
            left:auto;
            right:-10px;
          }
        }
      }
    }
  }
}