@import '../../../styles/variables/colors';

.card.skillItem {

  .card-block {

    .card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .trashcan {
      opacity:0;
      font-size: 26px;
      position: absolute;
      right:10px;
      top: 12px;
      color: #cdcdcd;

      &:hover {
        transform: scale(1.2,1.2);
        color: $red;
        cursor: pointer;
      }
    }
  }

  &:hover {

    .card-title {
      padding-right: 30px;
    }

    .trashcan {
      opacity: 1;
    }
  }
}

.rc-slider {
  width:90%;
  margin-bottom: 15px;
  &:nth-of-type(1) {
    margin-top:25px;
    margin-bottom: 25px;
  }

  .rc-slider-handle {
    .fa {
      font-size: 16px;
    }
  }
}

