@import '../../styles/variables/colors';

.wapStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .fa {
    font-size: 60px;

    &.fa-check-circle {
      color: $green;

      &.undone {
        color: $red;
      }
    }
  }
}