//Body
$bg-color: #ABB9C3 !important;
$bg-color: linear-gradient(to bottom right, #ABB9C3 0%, #74bfdc 100%) !important;
$bg-color: #c0dae5 !important;

// Header
$header-height: 60px;

// Type
$headings-font-family: 'Encode Sans Condensed', sans-serif !important;

// Navigation
$barwidth: 30px;
$navbar-width-xs: 320px;
$navbar-width-sm: 480px;
$navbar-width-md-up: 550px;
$visible-navbar-width-md-up:       60px;

// Grid
//$grid-columns: 16;