.mapWrapper {
  svg {
    path {
      vector-effect: non-scaling-stroke;
      fill: rgb(255, 255, 255);
      stroke: rgb(105, 105, 105);
      transition: fill 250ms;

      &:hover {
        fill: rgb(156, 156, 156);
        cursor: pointer;
      }

      &.selected {
        fill: rgb(255, 228, 90);
      }

      &.selectedAll {
        fill: rgb(39, 184, 158);
      }
    }
  }

  &.locationClicked {
    svg {
      path {
        fill: rgba(255, 255, 255, 0.3);

        &.active {
          fill: rgb(255, 255, 255);
        }

        &:hover {
          fill: rgba(255, 255, 255, 0.3);
          cursor: auto;
        }

        &.active:hover {
          fill: rgb(255, 255, 255)
        }
      }
    }
  }
}

.tooltip {
  .municipality {
    text-decoration: line-through;
    color: #787878;
    &.checked {
      text-decoration: none;
      color: #fff;
    }
  }

  .btn-wrapper {
    display: flex;

    .fa {
      width:20px;
      height:20px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.ok-btn {
        background: green;
      }
      &.cancel-btn {
        background: orange;
      }
    }
  }

  .one-col {
    //max-width: 120px;
  }

  .two-col {
    max-width: 220px;
  }

  .three-col {
    max-width: 300px;
  }
}

//.tooltip {
//  h6 {
//    margin:0;
//  }
//}
