@import '../../styles/variables/variables';

.page-layout__viewport {
  position: relative;
  left: 0;
  padding-top: $header-height * 2;
  min-height: 100%;
  @media screen and (min-width: 992px) {
    margin-left: 70px;
  }
  transition: left 250ms ease;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

body.menu-expanded {
  .page-layout__viewport {
    left: 210px;
  }
}
