.cvWrapper {

}

.templateWrapper {
  width:210mm;
  height:297mm;
  background: #fff;
  //margin-bottom: 10mm;
  overflow: hidden;
  //padding:2cm;
  position: relative;
  margin-top: 200vh;
  //transform: scale(2,2);

  //> div {
  //  width:210mm;
  //  height:297mm;
  //  transform: scale(2,2);
  //}
}