@import "../../styles/variables/colors";
@import "../../styles/variables/variables";

.header {
  position: fixed;
  z-index: 1001;
  display: block;
  height: $header-height;
  width: 100%;
  padding: 0;
  background-color: $themeColor;
  box-shadow: 0 -5px inset darken($themeColor, 15%);

  .logo {
    width:70px;

    > .row {
      padding:5px 5px 10px;
      > img {
      }
    }
  }

  #menu-btn {
    color: #fff;
    font-size: 30px;
  }

  .profile-picture {
    width:$header-height;
    height:$header-height;

    > img {
      position: relative;
      z-index: 1;
    }
    .overlay {
      position: absolute;
      top:0;
      left:0;
      z-index: 2;
      display: flex;
      justify-items: center;
      align-items: center;
      text-align: center;
      width:100%;
      height:100%;
      box-shadow: 0 -5px inset rgba(0,0,0,0.2);
      background: transparent;
      transition: background 250ms;

      .fa {
        font-size: 26px;
        margin-left:16px;
        color: #fff;
        opacity:0;
        transition: opacity 250ms;
      }

      &:hover {
        background: darken($themeColor, 10%);

        .fa {
          opacity:1;
        }
      }
    }
    .dropdown-menu {
      left:auto;
      right:0;
    }
  }
}


.navbar-toggle * {
  transition: all 0.4s ease;
}
.navbar-toggle {
  color: #fff;
  height: 20px;
  width: $barwidth;
  cursor: pointer;
  padding: 0px;
  border-radius: 0px;
  border: none;
  position: fixed;
  left: 20px;
  top: 10px;
  z-index: 999;
  transition: top 400ms ease;
}
.navbar-toggle span {
  height: 1px;
  margin: 7px 0;
  width: $barwidth;
  background-color: white; // Close
  display: block;
}

.navbar-toggle span.bar1 {
  transform: rotate(45deg);
  transform-origin: 1px 3px;
  width: 32px;
}
.navbar-toggle span.bar2 {
  transform: rotate(-360deg) scale(0);
}

.navbar-toggle span.bar3 {
  transform: rotate(-45deg);
  transform-origin: 9px 2px;
  width: 32px;
}

.navbar-toggle.collapsed {
  top:18px;
}

.navbar-toggle.collapsed span.bar1,
.navbar-toggle.collapsed span.bar2,
.navbar-toggle.collapsed span.bar3,
.navbar-toggle.collapsed span.bar4 {
  transform: none;
  width: $barwidth;
  background-color: white; // Open
}

.navbar-toggle {
  //float: right;
  //margin: 10px auto;
}
